In [4]:
import time
import pandas as pd
import numpy as np

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    while True:
        city = input("Enter the city you'd like to analyze. from (chicago, new york city, washington)\n").lower().strip()
        if city in CITY_DATA.keys():
            city = CITY_DATA[city]
            break
        print("Enter a valid city please!")
   
    
    # get user input for month (None, 1, 2, ... , 6)
    while True:
        month = input("Enter a number represnting the month you'd like to filter by. Like 1 for January OR None for no filtering\n").lower().strip()
        if month in '123456':
            month = int(month)
            break
        elif month == 'none':
            month = None
            break
        print("Enter a valid month please!")
    
    
    # get user input for day of week (None, 0, 1, 2, ...)
    while True:
        day = input("Enter a number represnting the day you'd like to filter by. like 0 for Monday OR None for no filtering\n").lower().strip()
        if day in '0123456':
            day = int(day)
            break
        elif day == 'none':
            day = None
            break
        print("Enter a valid day please!")
    
    print('-'*40)
    
    return city, month, day

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    file = '../Data/'+city+'.csv'
    pd.read_csv(file)
    
    return df


def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month


    # display the most common day of week


    # display the most common start hour


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station


    # display most commonly used end station


    # display most frequent combination of start station and end station trip


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time


    # display mean travel time


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types


    # Display counts of gender


    # Display earliest, most recent, and most common year of birth


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
	main()

Hello! Let's explore some US bikeshare data!
Enter the city you'd like to analyze. from (chicago, new york city, washington)
chicago
Enter the month you'd like to filter by. from (all, jan, feb, ...)
all
Enter the day you'd like to filter by. from (all, mon, tue, ...)
all
----------------------------------------

NameError: name 'df' is not defined

# First part

In [63]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    while True:
        city = input("Enter the city you'd like to analyze. from (chicago, new york city, washington)\n").lower().strip()
        if city in CITY_DATA.keys():
            city = CITY_DATA[city]
            break
        print("Enter a valid city please!")
   
    
    # get user input for month (None, 1, 2, ... , 6)
    while True:
        month = input("Enter a number represnting the month you'd like to filter by. Like 1 for January OR None for no filtering\n").lower().strip()
        if month in '123456':
            month = int(month)
            break
        elif month == 'none':
            month = None
            break
        print("Enter a valid month please!")
    
    
    # get user input for day of week (None, 0, 1, 2, ...)
    while True:
        day = input("Enter a number represnting the day you'd like to filter by. like 0 for Monday OR None for no filtering\n").lower().strip()
        if day in '0123456':
            day = int(day)
            break
        elif day == 'none':
            day = None
            break
        print("Enter a valid day please!")
    
    print('-'*40)
    
    return city, month, day
get_filters()

Hello! Let's explore some US bikeshare data!
Enter the city you'd like to analyze. from (chicago, new york city, washington)
chicago
Enter a number represnting the month you'd like to filter by. Like 1 for January OR None for no filtering
2
Enter a number represnting the day you'd like to filter by. like 0 for Monday OR None for no filtering
2
----------------------------------------

('chicago.csv', 2, 2)

## Part 2

In [64]:
def load_data(city, r_month, r_day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    # Loading city data
    file = '../Data/'+city
    df = pd.read_csv(file)
    
    # getting a month column
    #df["Start Time"] = pd.to_datetime(df["Start Time"])
    df["Month"] = pd.DatetimeIndex(df["Start Time"]).month
    
    # getting a day column
    df["Day"] = pd.DatetimeIndex(df["Start Time"]).weekday
    
    # getting an hour column
    df["Hour"] = pd.DatetimeIndex(df["Start Time"]).hour    
    
    # Filtering by month
    if r_month != None :
        df= df[df['Month'] == r_month]
        
    # Filtering by day
    if r_day != None :
        df= df[df['Day'] == r_day]
    
    return df

load_data('new_york_city.csv', 1, 1)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,Day,Hour
71,338034,2017-01-17 06:43:11,2017-01-17 06:51:51,519,Pershing Square South,E 25 St & 2 Ave,Subscriber,Female,1990.0,1,1,6
328,164991,2017-01-10 16:10:04,2017-01-10 16:16:56,412,W 18 St & 6 Ave,Washington Pl & 6 Ave,Subscriber,Male,1987.0,1,1,16
363,525383,2017-01-24 22:36:13,2017-01-24 22:51:49,935,W 100 St & Manhattan Ave,W 100 St & Manhattan Ave,Subscriber,Female,1971.0,1,1,22
427,154707,2017-01-10 07:50:34,2017-01-10 07:53:43,189,DeKalb Ave & S Portland Ave,Fulton St & Rockwell Pl,Subscriber,Male,1985.0,1,1,7
561,25470,2017-01-03 06:25:27,2017-01-03 06:37:33,726,8 Ave & W 33 St,W 52 St & 5 Ave,Subscriber,Male,1976.0,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
299315,168896,2017-01-10 18:04:18,2017-01-10 18:39:02,2083,W 31 St & 7 Ave,Riverside Dr & W 104 St,Subscriber,Male,1959.0,1,1,18
299344,30042,2017-01-03 09:18:24,2017-01-03 09:22:50,266,Carlton Ave & Park Ave,Willoughby St & Fleet St,Subscriber,Male,1984.0,1,1,9
299740,706617,2017-01-31 08:24:42,2017-01-31 08:30:53,371,W 26 St & 8 Ave,11 Ave & W 27 St,Subscriber,Male,1985.0,1,1,8
299820,338494,2017-01-17 07:00:30,2017-01-17 07:21:40,1269,W 46 St & 11 Ave,West End Ave & W 94 St,Subscriber,Female,1983.0,1,1,7
299855,35325,2017-01-03 18:18:48,2017-01-03 18:25:26,398,E 51 St & Lexington Ave,E 39 St & 3 Ave,Subscriber,Male,1987.0,1,1,18